<configuration>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/aws_api.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="WARN">
        <appender-ref ref="console"/>
    </root>
    <logger name="info.siddhuw" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>

</configuration>